body {
  margin:20px auto 0 auto;
  width:960px;          
}

div, footer {
    background: silver;
   
}

nav,section,footer{
    display: grid;
    margin-bottom:12px;
}

h1{
    font-size: 35px;
    margin:0px;
}

h3{
    font-size:20px;
}

.navi{
    height:30px;
    display:grid;
    grid-template-columns: auto auto auto auto;
    align-self:center;
    align-content:center;
}


nav{
    
    grid-template: 60px / 220px 1fr;
    grid-gap:250px;

}


main{
    grid-template:160px / repeat(2,472px);
    justify-content: space-evenly;
    gap:15px;
}

footer {
    height: 40px;
    align-self: center;
    justify-items:center;
} 

.item{
    background: silver;
}

.container{
    width:960px;
    height:490px;
    display:grid;
    background:white;
    grid-gap:10px;
    grid-template-columns: 313px 313px 313px;
    grid-template-rows: 150px 150px 150px;
}